body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #fff;
}

fieldset {
    border: 1px solid #444;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #222;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #222;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #444;
    color: #fff;
}

th {
    background-color: #007bff;
}

textarea {
    max-width: 100%;
    width: 100%;
    min-height: 100px;
    max-height: 200px; 
    resize: vertical;
}
/* pantalla menos que 700px
hacer dos columnas una arriba de otra */
@media screen and (max-width: 700px) {
    .col-25,
    .col-75,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
  